/ProvaI/nbproject/private/
/ProvaI/build/
/Teste Pi/nbproject/private/
/Teste Pi/build/
/Recursividade/nbproject/private/
/Recursividade/build/
/Funcoes/nbproject/private/
/Funcoes/build/
/MergeSort/nbproject/private/
/MergeSort/build/
/ecommerce/nbproject/private/
/PiReno/dist/